@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredoka+One&family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
}

section{
    padding-top: 100px;
}

#about_us_title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #000080;
}

.about_us_text {
    font-size: 20px;
    width: 70%;
    align-items: center;
    margin: auto;
    padding: 30px;
}

.title-of-section {
    font-family: 'Open Sans', sans-serif;
    color: #000080;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    width: 80%;
    margin: auto;
}

.container-image-and-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 88%;
    margin: auto;
}

.image-realted-with-article {
    width: 100%;
    height: 303px;
}

.container-of-text-and-info {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
    background-color: #00003E;
    color: aliceblue;
}

.head-for-text {
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.container-of-text-and-info {
    height: 19.75vw;
}

.container-image-and-text-hidden {
    display: none;
}

.link-to-article {
    color: yellow;
}

.btn {
    background-color: rgb(225, 192, 102) !important;
    width: 12vw !important;
    height: 40px;
    border: none;
    color: rgb(52, 60, 67) !important;
    font-size: 13px;
    margin-top: 5px;
    font-weight: bold;
    transition: 0.7s ease;
}

.btn:hover {
    background-color: rgb(220, 175, 49) !important;
    color:rgb(52, 60, 67) !important;
    transform: scale(1.08);
}

.up {
    position: fixed;
    bottom: 100px;
    right: -70px;
    background-color: rgb(197, 145, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
    border-radius: 12px;
    font-family: Arial,Tahoma;
    cursor: pointer;
}

.up img{
    width: 100px;
    height: 70px;
}

.up.show {
    right: 35px;
}





@media screen and (max-device-width: 1280px){
    #myVideo {
        min-height: 90%;
    }

    .container-of-text-and-info {
        height: 23.7vw;
    }
}


@media screen and (max-device-width: 1024px){
    .container-of-text-and-info {
        height: 29.6vw;
        padding: 35px;
    }

    .btn {
        width: 17vw !important;
    }
}


@media screen and (max-device-width: 912px){

    #myVideo {
        min-height: 35%;
    }
    .container-of-text-and-info {
        height: 29.6vw;
        padding: 35px;
    }
    .btn {
        width: 17vw !important;
    }
    .head-for-text {
        font-size: 20px;
    }
    .container-of-text-and-info {
        height: 33.2vw;
    }
}

@media screen and (max-device-width: 820px){
    .container-image-and-text {
        display: none;
    }
    .container-image-and-text-hidden {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 85%;
        margin: auto;
    }
}

@media screen and (max-device-width: 540px){
    p {
        font-size: 11px;
    }
    .title-of-section p {
        font-size: 35px !important;
    }
    .btn {
        width: 35vw !important;
    }
    .container-of-text-and-info {
        height: 38vw;
    }
    .about_us_text {
        font-size: 13px;
    }
}

@media screen and (max-device-width: 415px){
    #myVideo {
        min-height: 25%;
    }
    .container-of-text-and-info {
        height: 65vw;
    }
    .btn {
        width: 40vw !important;
    }
}

@media screen and (max-device-width: 361px){
    .container-of-text-and-info {
        height: 75vw;
    }
    .btn {
        width: 45vw !important;
    }
}

@media screen and (max-device-width: 280px){
    #myVideo {
        min-height: 23%;
    }
    #about_us_title {
        font-size: 30px;
    }
    .title-of-section p {
        font-size: 25px !important;
    }
    .head-for-text {
        font-size: 15px;
    }
    .container-of-text-and-info {
        height: 110vw;
    }
    .btn {
        font-size: 14px !important;
        width: 50vw !important;
    }

}
