@media screen and (max-width : 1024px) {
    #headerProfile {
        display: flex; flex-direction: column;
    }
    #ProfileInformation {
        min-width: 70vw !important;
    }
    .buttsave {
        margin-right: 22vw !important;
        height: 7vh !important;
    }
    #inputsProfileInfo {
        margin-left: 33vw;
    }
    #ProfileInformation h1 {
        margin-left: 28vw;
    }
    #btnSavePass {
        height: 7vh !important;
    }
    .buttdelet {
        height: 7vh !important;
    }
}


@media screen and (max-width : 912px) {
    #headerProfile {
        display: flex; flex-direction: column;
    }
    #ProfileInformation {
        min-width: 70vw !important;
    }
    .buttsave {
        margin-right: 22vw !important;
        height: 4vh !important;
    }
    #inputsProfileInfo {
        margin-left: 29vw;
    }
    #ProfileInformation h1 {
        margin-left: 24vw;
    }
    #btnSavePass {
        height: 4vh !important;
    }
    .buttdelet {
        height: 4vh !important;
        width: 18vw !important;
    }
    #changeProfilePicture {
        height: 30vh !important;
    }
    #editMarginForSmallScr {
        margin-top: -8vh !important;
    }
}


@media screen and (max-width : 540px) {
    .header1 {
        margin-left: -17vw !important;
    }
    #ProfileInformation h1 {
        font-size: 25px !important;
        margin-left: 20vw !important;
        margin-top: 10vw !important;
    }
    #SeeYourItems {
        margin-top: -7vh;
    }
    #btnUpdatePhoto {
        margin-top: -2vh;
    }
    #inputsProfileInfo {
        margin-left: 22vw;
    }
    .name {
        font-size: 15px;
    }
    .namee {
        font-size: 11.5px !important;
    }
    #btnSavePass {
        width: 17vw !important;
        font-size: 12px !important;
    }
    .buttsave {
        margin-right: 42vw !important;
        width: 17vw !important;
        font-size: 12px !important;
    }
    .header11 h2 {
        font-size: 25px !important;
    }
    .buttdelet {
        font-size: 12px !important;
        width: 25vw !important;
    }
    .header1 h2 {
        margin-left: 47vw !important;
    }
}


