@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredoka+One&family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}





/*                  START SCROLL UP BUTTON                           */
/*                  START SCROLL UP BUTTON                           */
/*                  START SCROLL UP BUTTON                           */
/*                  START SCROLL UP BUTTON                           */







.up {
    position: fixed;
    bottom: 100px;
    right: -70px;
    background-color: rgb(197, 145, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
    border-radius: 12px;
    font-family: Arial,Tahoma;
    cursor: pointer;
}

.up img{
    width: 100px;
    height: 70px;
}

.up.show {
    right: 35px;
}





/*                  END SCROLL UP BUTTON                           */
/*                  END SCROLL UP BUTTON                           */
/*                  END SCROLL UP BUTTON                           */
/*                  END SCROLL UP BUTTON                           */





/*                  START FILTER APARTMENT                           */
/*                  START FILTER APARTMENT                           */
/*                  START FILTER APARTMENT                           */
/*                  START FILTER APARTMENT                           */





/* Search And Filter Header */


#container-filter-apartment {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25vw;
}

#container-icon-and-search {
    text-align: center;
    align-items: center;
    margin-left: 9.5rem;
    display: flex;
    width: 15vw;
}


/* Search Bar */


.div-bar {
    display: inline-block;
}

#search-bar{
    border: 2px solid rgb(192, 192, 192);
    height: 4.9vh;
    width: 30vw ;
}

input:focus{
    outline: none;
}

#container-filter-apartment select {
    background-color: #F0ECEC;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}


/* Select And Filters */


#typeOfService {
    height: 5vh;
    width: 6vw;
    align-items: center;
    padding-top: 2px;
}

#container-for-select-filter {
    display: flex;
    justify-content: space-around;
    margin-right: 4.7vw;

}

#container-for-select-filter select {
    margin-left: 1.25rem;
    width: 9.7rem;
    height: 4.9vh;
}

#filter {
    margin-right: 11.5%;
    width: 5.3rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(233, 171, 0);
    border: 1px solid #000080;
    cursor: pointer;
    height: 4.9vh;
}

#filter:hover {
    background-color: rgb(171, 126, 0);
}

#furnished {
    margin-right: 3.0rem;
}



/* Data Fetching */



#container-apartmnet-and-location {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-around;
    width: 95.5vw;
}

#container-apartment-pic-and-description {
    display: flex;
    justify-content: center;
}

.apartment-img {
    width: 18rem;
    height: 18rem;
    margin-right: 1.25rem;
}

#container-details-of-apartment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 25px; */
}

#short-description {
    display: -webkit-box;
    width: 30vw;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#container-icons-details {
    display: flex;
    justify-content: space-between;
}

.apartment-location {
    width: 35rem;
    height: 18rem;
}

#explore-btn {
    cursor: pointer ;
    margin-left: 3vw ;
    margin-top: 1vw ;
    height : 2vw;
    background-color: #0000bb;
    border-radius: 4px;
    color: aliceblue;
    border: none;
}

#explore-btn:hover {
    background-color: #000080;
}

#imageForSmallScreens {
    display: none;
}




/*                  END FILTER APARTMENT                            */
/*                  END FILTER APARTMENT                            */
/*                  END FILTER APARTMENT                            */
/*                  END FILTER APARTMENT                            */





/*                  START PAGINATION                           */
/*                  START PAGINATION                           */
/*                  START PAGINATION                           */
/*                  START PAGINATION                           */




.pagination {
    display: flex;
    justify-content: center;
}
.pagination span span .bg-white {
    background-color: #000080 !important;
    color: gold;
}
.pagination {
    margin-bottom: 5vw;
    margin-top: 5vw;

}
.pagination a {
    text-decoration: none;
}
.pagination .w-5 {
    width : 15px
}
.pagination p {
    display: none;
}
.pagination nav > :first-child {
    display: none;
}




/*                  END PAGINATION                           */
/*                  END PAGINATION                           */
/*                  END PAGINATION                           */
/*                  END PAGINATION                           */





/*                  START RESPONSIVE                           */
/*                  START RESPONSIVE                           */
/*                  START RESPONSIVE                           */
/*                  START RESPONSIVE                           */





@media screen and (max-width:1280px) {
    #search-bar{
        width: 20vw ;
    }
    #container-for-select-filter select {
        margin-left: 1.25rem;
        width: 11vw;
    }
    #explore-btn {
        margin-top: 3.5vw ;
    }
    #typeOfService {
        width: 15vw;
    }
    .div-bar {
        margin-left: -3vw;
    }
}



@media screen and (max-width:1024px) {
    #typeOfService {
        margin-left: 9vw;
        width: 15vw;
    }
    .div-bar {
        margin-left: -9vw;
    }
    #container-for-select-filter select {
        margin-left: 1.25rem;
        width: 11vw;
    }
    #explore-btn {
        margin-top: 7vw ;
        height : 4vw;
        padding: 10px;
    }
}



@media screen and (max-width:913px) {
    #typeOfService {
        margin-left: 11vw;
        width: 15vw;
    }
    .div-bar {
        margin-left: -12vw;
    }
    #explore-btn {
        margin-top: 11vw ;
    }
}



@media screen and (max-width:821px) {
    #typeOfService {
        margin-left: 11vw;
        width: 15vw;
    }
    .div-bar {
        margin-left: -15vw;
    }
}



@media screen and (max-width:769px) {
    #explore-btn {
        height : 9vw;
    }
    #typeOfService {
        margin-left: 11vw;
        width: 15vw;
    }
    .div-bar {
        margin-left: -16vw;
    }
}



@media screen and (max-width:541px) {
    #typeOfService {
        margin-left: -14vw;
        width: 22vw;
        height: 5vw;
    }
    .div-bar {
        margin-left: 13vw;
    }
    #container-filter-apartment {
        display: block;
    }
    #search-bar {
        width: 40vw;
        height: 5vw;
    }
    #container-for-select-filter {
        display: flex;
        justify-content: center;
        margin-left: 18vw;
    }
    #container-for-select-filter select {
        margin-left: 1vw;
        width: 25vw;
    }
    .apartment-img {
        width: 80vw;
    }
    #container-apartmnet-and-location, #container-apartment-pic-and-description {
        padding-left: 4.5vw;
        display: block;
    }
    #container-details-of-apartment {
        padding-left: 3vw;
    }
    #imageForNormalScreens {
        display: none;
    }
    #imageForSmallScreens {
        display: block;
        margin-left: 8vw;
    }
    #explore-btn {
        margin-top: 4vw ;
        margin-left: 25vw;
    }
    #container-icon-and-search {
        margin-left: 0rem;
    }
    #nameOfAdv {
        width: 15rem !important;
    }
}



@media screen and (max-width:394px) {
    #typeOfService {
        height: 6vw;
    }
    #search-bar {
        height: 6vw;
        margin-left: inherit;
    }
    #container-for-select-filter {
        margin-left: 13vw;
    }
    #container-for-select-filter select {
        font-size: smaller;
    }
    #explore-btn {
        padding: 5px 5px;
        margin-left: 20vw;
    }
}



@media screen and (max-width:361px) {
    #container-for-select-filter select {
        font-size: 10px;
    }
    #typeOfService {
        font-size: 10px !important;
    }
    #search-bar{
        font-size: 10px;
        height: 3.2vh;
        width: 30vw ;
    }
}



@media screen and (max-width:281px) {
    #rooms, #price, #furnished {
        width: 55.5vw !important;
        margin-bottom: 4px;
    }
    #container-for-select-filter {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 21vw;
    }
    #filter {
        width: 55.5vw !important;
        font-size: 12px;
        margin-left: 3px;
    }
    #typeOfService {
        height: 3vh;
        padding-bottom: 5px;
    }
    #search-bar{
        height: 3vh;
    }
    #explore-btn {
        font-size: 12px;
        margin-left: 15vw;
    }
}
