#headNameOfCompany {
    font-size: 2.3rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#container-gallary-and-location {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
}

#container-details-in-single {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-evenly;
}

.apartment-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right:10rem
}

#leftDetails {
    border-right: 1px solid black;
}

#description {
    margin-top: 4rem;
    font-size: 2rem;
    margin-left: 6rem;
}

#container-description {
    margin-left: 8rem;
}

#container-description p {
    padding-bottom: 3px;
}

#general-and-contact-contaienr {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#btn-owner {
    background-color: #000080;
    width: 25rem;
    height: 5rem;
    text-align: center;
    cursor: pointer;
    line-height: 15px;
}

#btn-owner a button {
    margin-top: 1rem;
    font-size: 22px;
    color: aliceblue;
    font-weight: bold;
}

#btn-owner p {
    font-size: 16px;
    color: aliceblue;
    font-weight: bold;
}

#btn-owner:hover {
    background-color: #0000a0;
    transform: scale(1.07);
}




/*                  END GENERAL STYLE                           */
/*                  END GENERAL STYLE                           */
/*                  END GENERAL STYLE                           */
/*                  END GENERAL STYLE                           */



/*                  START SCROLL UP BUTTON                           */
/*                  START SCROLL UP BUTTON                           */
/*                  START SCROLL UP BUTTON                           */
/*                  START SCROLL UP BUTTON                           */




.up {
    position: fixed;
    bottom: 100px;
    right: -70px;
    background-color: rgb(197, 145, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
    border-radius: 12px;
    font-family: Arial,Tahoma;
    cursor: pointer;
}

.up img{
    width: 100px;
    height: 70px;
}

.up.show {
    right: 35px;
}

#ownerImage {
    height:54vh ;
    margin-left: -4vw;
}




/*                  END SCROLL UP BUTTON                           */
/*                  END SCROLL UP BUTTON                           */
/*                  END SCROLL UP BUTTON                           */
/*                  END SCROLL UP BUTTON                           */



/*                  START RESPONSIVE                               */
/*                  START RESPONSIVE                               */
/*                  START RESPONSIVE                               */
/*                  START RESPONSIVE                               */




@media screen and (max-width:912px) {
    #headNameOfCompany {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    #container-gallary-and-location {
        grid-template-columns: 1fr;
    }
    #sliderContainer {
        margin-left: -12vw;
    }
    #ownerDetails {
        margin-left: 25vw;
    }
    #ownerDetails p {
        margin-left: 22vw !important;
        font-size: 35px;
    }
    #ownerImage {
        height:37vh;
    }
}



@media screen and (max-width:541px) {
    .slide > img {
        height: 47% !important;
    }
    .slide {
        position: absolute;
        top: -90px !important;
    }
    .slider {
        height: 14.625rem !important;
    }
    #sliderContainer {
        margin-left: -19vw;
    }
    #ownerDetails p {
        margin-left: 15vw !important;
    }
    .apartment-details {
        padding-right: 1rem !important;
    }
    #description {
        margin-left: 2rem;
    }
    #textDescription {
        margin-left: -12vw;
        max-width: 80vw !important;
    }
    #btn-owner {
        margin-left: -12vw;
    }
    #btn-owner {
        margin-left: -14vw;
    }
    #btn-owner {
        font-size: smaller;
        width: 15rem;
        height: 3rem;
        line-height: 10px;
        margin-left: -7vw;
    }
    #staticSentence {
        padding-top: 15px;
        margin-bottom: 5px;
        font-size: 10px !important;
    }
    #isLoginSentence {
        font-size: 10px !important;
    }
    .apartment-details {
        margin-left: 10px;
    }
}



@media screen and (max-width : 415px) {
    #sliderContainer {
        margin-left: -23vw;
    }
    .slider {
        margin-left: -23vw;
    }
    #ownerImage {
        height: 26vh;
    }
    #textDescription {
        margin-left: -17vw !important;
    }
}



@media screen and (max-width : 394px) {
    #sliderContainer {
        margin-left: -25vw;
    }
    #container-details-in-single {
        display: grid;
        grid-template-columns: 1fr;
    }
    #leftDetails {
        border-right: none;
        border-bottom: 1px solid black;
        margin-bottom: 18px;
    }
    #btn-owner {
        margin-left: -12vw;
    }
}



@media screen and (max-width : 376px) {
    #sliderContainer {
        margin-left: -27vw;
    }
    #ownerImage {
        margin-left: 6vw;
    }
}



@media screen and (max-width : 361px) {
    #description {
        margin-left: 3vw;
    }
    #textDescription {
        margin-left: -24vw;
    }
    #btn-owner {
        margin-left: -19vw;
    }
    #ownerDetails p {
        margin-left: 12vw !important;
    }
}



@media screen and (max-width : 281px) {
    #textDescription {
        margin-left: -37vw;
        font-size: smaller;
    }
    #btn-owner {
        margin-left: -37vw;
    }
}
